.ecommerce-app {
    text-align: center;
    background-color: beige;
}

.product-list {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color:thistle;
}

.product img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.buttons button {
    margin: 5px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}
